/* Note styles */
.Note {
    list-style: none;
    margin-top: 10px;
}

.Note > div > div {
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.Note > div > div span {
    font-size: 16px;
    line-height: 22px;
    color: #2e73b9;
}

.Note > div > div button {
    width: 24px;
    text-align: center;
    color: #ffffff;
    background-color: #ee142f;
    border: 2px solid #c7161e;
    cursor: pointer;
    border-radius: 50%;
}

.Note > div > div button:hover {
    background-color: #c7161e;
    border: 2px solid #c7161e;
}

.notes input {
    max-width: 100%;
}